@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
  background-color: #011627;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.purple {
  color: #4D5BCE;
}

.green {
  color: #43D9AD;
}

.orange {
  color: #E99287;
}

main {
  width: 60%;
}

.hover-effect:hover {
  --tw-border-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.hover-effect:hover .hover-text {
  color: #43D9AD; /* Change to the desired text color */
  fill: #43D9AD;
}

.navhover:hover {
  color: white;
  fill: white;
}
